@charset "UTF-8";

@font-face {
  font-family: "MyriadPro";
  font-display: swap;
  src: url("../fonts/MyriadPro-Bold.woff") format("woff"), url("../fonts/MyriadPro-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "MyriadPro";
  font-display: swap;
  src: url("../fonts/MyriadPro-It.woff") format("woff"), url("../fonts/MyriadPro-It.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "MyriadPro";
  font-display: swap;
  src: url("../fonts/MyriadPro-Regular.woff") format("woff"), url("../fonts/MyriadPro-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "MyriadPro";
  font-display: swap;
  src: url("../fonts/MyriadPro-Semibold.woff") format("woff"), url("../fonts/MyriadPro-Semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html {
  font-size: 16px;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "MyriadPro";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "MyriadPro";
  font-size: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background-color: inherit;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  color: #000000;
}

body._lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 10px;
}

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0px 0px;
}

.btn._fw {
  width: 100%;
}

.select {
  position: relative;
}

.select__item {
  position: relative;
}

.select__title {
  color: #000;
  border: 1px solid #d9d9d9;
  background-color: #fff;
  cursor: pointer;
  border-radius: 4px;
}

.select__value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  height: 30px;
  padding: 0px 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.select__value span {
  height: 1em;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.select__value:before {
  content: "";
  display: inline-block;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 11px;
  height: 7px;
  background: url("../img/icons/select.svg") center/100% no-repeat;
}

.select__input {
  width: 100%;
  background-color: transparent;
  height: 100%;
}

.select__options {
  color: #000;
  position: absolute;
  top: 29px;
  border-radius: 0 0 4px 4px;
  min-width: 100%;
  left: 0;
  background-color: #fff;
  border-top: 0;
  border: 1px solid #d9d9d9;
  border-top: 0;
  font-size: 14px;
  padding: 10px 0px 5px 0px;
}

.select__option {
  cursor: pointer;
  padding: 5px 15px;
  margin: 0px 0px 0px 0px;
}

.select._active {
  z-index: 5;
}

.select._active .select__value:before {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.select._active .select__options {
  display: block;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type=text]:focus,
input[type=email]:focus,
input[type=tel]:focus,
textarea:focus {
  outline: none;
}

.input {
  border-radius: 0 !important;
  width: 100%;
  display: block;
  padding: 0px 20px;
}

textarea.input {
  resize: none;
  padding: 0px 0px;
}

.checkbox {
  position: relative;
}

.checkbox__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

.checkbox__input:checked + .checkbox__text:before {
  background: #fff url("../img/icons/check.svg") center no-repeat;
}

.checkbox__text {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: -0.3px;
  line-height: calc(20 / 16);
  cursor: pointer;
}

.checkbox__text:before {
  content: "";
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 0px 14px 0px 0px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  left: 0;
  top: 0;
  width: 20px;
  height: 18px;
  background: #fff;
  border: 1px solid #a7a9ac;
}

.checkbox a {
  color: #fff;
  text-decoration: underline;
}

.checkbox._error .checkbox__text:before {
  border: 1px solid #ee1212;
}

.options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.options__item {
  position: relative;
  cursor: pointer;
}

.options__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  left: 0;
  top: 0;
  visibility: hidden;
}

.options__input:checked + .options__text:after {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.options__text {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: -0.3px;
  line-height: calc(20 / 16);
}

.options__text:before {
  content: "";
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 0px 14px 0px 0px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  left: 0;
  top: 0;
  border-radius: 50%;
  width: 20px;
  height: 18px;
  background: #fff;
  border: 1px solid #a7a9ac;
}

.options__text:after {
  content: "";
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #77243a;
  position: absolute;
  left: 5px;
  top: 4px;
}

.rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-size: 40px;
  line-height: 0.75;
  -webkit-transition: opacity 0.3s ease 0s;
  -o-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
}

.rating.rating_sending {
  opacity: 0.2;
}

.rating.rating_set .rating__active,
.rating.rating_set .rating__item {
  cursor: pointer;
}

.rating__body {
  position: relative;
}

.rating__body::before {
  content: "★★★★★";
  display: block;
}

.rating__active {
  position: absolute;
  width: 0%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}

.rating__active::before {
  content: "★★★★★";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color: #ffd300;
}

.rating__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.rating__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
  height: 100%;
  opacity: 0;
}

.rating__value {
  font-size: 50%;
  line-height: 1;
  padding: 0px 0px 0px 10px;
}

.quantity {
  width: 88px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid rgba(166, 166, 166, 0.45);
}

.quantity__button {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30px;
          flex: 0 0 30px;
  position: relative;
  cursor: pointer;
}

.quantity__button::before,
.quantity__button::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  margin: 0px 0px 0px -4.5px;
  background-color: #a6a6a6;
  width: 9px;
  height: 1px;
}

.quantity__button_plus::before {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.quantity__input {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.quantity__input input {
  height: 100%;
  color: #a6a6a6;
  font-size: 12px;
  width: 100%;
  text-align: center;
}

.row:after {
  display: block;
  content: "";
  clear: both;
}

.rub:after {
  content: "₽";
}

ol.counter {
  list-style-type: none;
  counter-reset: item;
}

ol.counter li {
  position: relative;
  padding: 0px 0px 0px 45px;
}

ol.counter li:before {
  counter-increment: item;
  content: counter(item);
  position: absolute;
  left: 0;
  top: 0;
  color: #818181;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  line-height: 26px;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  border: 1px solid #4274bb;
}

.ellipsis {
  display: block;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.es {
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.table {
  display: table;
  font-size: 0;
  width: 100%;
}

.trow {
  display: table-row;
}

.cell {
  display: table-cell;
}

.cell.full {
  width: 100%;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

body.ie ._ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

body.ie ._ibg img {
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

._video {
  position: relative;
  overflow: hidden;
  height: 0;
  padding-bottom: 56.25%;
}

._video video,
._video iframe,
._video object,
._video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.videobg video,
.videobg iframe,
.videobg object,
.videobg embed {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  background-size: cover;
}

._more-content {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  overflow: hidden;
}

._more-link {
  cursor: pointer;
}

._more-link span {
  font-style: normal;
}

._more-link span:first-child {
  display: block;
}

._more-link span:last-child {
  display: none;
}

._more-link._active span {
  font-style: normal;
}

._more-link._active span:first-child {
  display: none;
}

._more-link._active span:last-child {
  display: block;
}

#map {
  background: url("../img/icons/loading.gif") center/50px no-repeat;
}

._swiper {
  overflow: hidden;
}

._swiper .swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

._swiper.swiper-container-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._swiper.swiper-container-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-container-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-container-android .swiper-slide,
.swiper-container-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

._tabs-block {
  display: none;
}

._tabs-block._active {
  display: block;
}

.mirror {
  -webkit-transform: scale(-1, 1);
      -ms-transform: scale(-1, 1);
          transform: scale(-1, 1);
}

.nicescroll-rails {
  z-index: 1000 !important;
}

._custom-scroll {
  position: fixed;
  right: 0;
  top: 0;
  width: 3px;
  height: 100%;
  z-index: 1000;
}

._custom-scroll__line {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 3px 0 0 3px;
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
}

.popup {
  -webkit-overflow-scrolling: touch;
  z-index: 100;
  padding: 30px 10px;
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: visibility 0.8s ease 0s;
  -o-transition: visibility 0.8s ease 0s;
  transition: visibility 0.8s ease 0s;
  visibility: hidden;
}

.popup::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity 0.8s ease 0s;
  -o-transition: opacity 0.8s ease 0s;
  transition: opacity 0.8s ease 0s;
}

.popup.show {
  visibility: visible;
  overflow: auto;
}

.popup.show::before {
  opacity: 1;
}

.popup.show .popup__body {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.popup._active {
  overflow: auto;
  visibility: visible;
}

.popup._active::before {
  opacity: 1;
}

.popup._active .popup__body {
  -webkit-transition: all 0.3s ease 0.2s;
  -o-transition: all 0.3s ease 0.2s;
  transition: all 0.3s ease 0.2s;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.popup__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 100%;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
}

.popup__body {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background-color: #161616;
  padding: 50px;
  width: 100%;
  max-width: 800px;
}

.popup__close {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  z-index: 30;
  background: url("../img/icons/close.svg") 0 0 no-repeat;
}

.popup__text {
  font-size: 30px;
  line-height: 1.2;
  font-weight: 600;
  color: #ffffff;
}

.popup__text::first-letter {
  font-size: 50px;
  color: #ffc600;
}

.popup__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 108px;
  height: 33px;
  background-color: #ffc600;
  text-transform: uppercase;
  margin-top: 20px;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.popup__link {
  font-size: 16px;
  line-height: 1.2;
  font-weight: 600;
  color: #000000;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.popup__link:hover {
  background-color: #000000;
  color: #ffc600;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.header {
  position: relative;
  width: 100%;
  background-color: #000d15;
}

.header__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 80px;
}

.header__top-image {
  z-index: 2;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.header__top-image img {
  max-height: 1100px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: auto;
  text-align: center;
}

.header__title {
  position: relative;
  z-index: 3;
  font-size: 202.2px;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: -0.05em;
  color: #ffffff;
  margin: 0px 10px 0 4%;
}

.header__title::first-letter {
  color: #ffc600;
}

.header__subtitle {
  position: relative;
  z-index: 3;
  max-width: 380px;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 400;
  color: #ffffff;
  margin: -30px 10px 0 4%;
}

.header__subtitle::first-letter {
  color: #ffc600;
}

.header__subtitle a {
  display: inline-block;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 400;
  color: #ffc600;
  margin: 30px 0 60px;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.header__subtitle a:hover {
  text-decoration: underline;
  color: #fff;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.header__content {
  width: 100%;
}

.header__block {
  padding: 7% 4%;
  position: relative;
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 655px;
  width: 100%;
}

.header__image {
  position: absolute;
  z-index: -2;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.header__image img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: auto;
  text-align: center;
}

.header__block-title {
  max-width: 420px;
  font-size: 60px;
  line-height: 48px;
  font-weight: 700;
  letter-spacing: -0.05em;
  color: #ffffff;
}

.header__block-title span {
  color: #ffc600;
}

.header__menu {
  padding-top: 6%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.header__menu li {
  padding-right: 4%;
}

.header__menu li a {
  font-size: 18px;
  line-height: 1.2;
  font-weight: 400;
  color: #ffc600;
  -webkit-transition: all 0.6s ease 0s;
  -o-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
}

.header__menu li a:hover {
  color: #ffffff;
  -webkit-transition: all 0.6s ease 0s;
  -o-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
}

.header__menu-item {
  position: relative;
}

.header__menu-item._active:after {
  position: absolute;
  content: "";
  bottom: -4px;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: #ffc600;
  -webkit-transition: all 0.6s ease 0s;
  -o-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
}

.header__menu-item._active:hover:after {
  background-color: #fff;
  -webkit-transition: all 0.6s ease 0s;
  -o-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
}

.footer {
  background-color: #161616;
}

.footer__row {
  background-color: #fff;
  padding-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.footer__left {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 325px;
          flex: 0 0 325px;
  background-color: #000;
  padding: 110px 0 45px 35px;
}

.footer__logo {
  font-size: 60px;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: -0.05em;
  color: #ffffff;
}

.footer__logo::first-letter {
  color: #ffc600;
}

.footer__menu {
  padding: 40px 0 60px;
}

.footer__menu li a {
  font-size: 16px;
  line-height: 36px;
  font-weight: 600;
  color: #ffffff;
  -webkit-transition: all 0.6s ease 0s;
  -o-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
}

.footer__menu li a:hover {
  color: #ffc600;
  text-decoration: underline;
  -webkit-transition: all 0.6s ease 0s;
  -o-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
}

.footer__social {
  position: relative;
}

.footer__social:before {
  content: "";
  position: absolute;
  top: -15px;
  left: 0;
  height: 2px;
  width: 115px;
  background-color: #ffc600;
}

.footer__social a img {
  -webkit-transition: all 0.6s ease 0s;
  -o-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
}

.footer__social a img:hover {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: all 0.6s ease 0s;
  -o-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
}

.footer__right {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 880px;
          flex: 0 1 880px;
  position: relative;
}

.footer__image {
  width: 100%;
  height: 100%;
}

.footer__image span {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  padding-right: 10px;
}

.footer__image img {
  text-align: center;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.footer__text {
  position: absolute;
  max-width: 770px;
  bottom: 130px;
  left: 25px;
  font-size: 110.8px;
  line-height: 88px;
  font-weight: 700;
  letter-spacing: -0.05em;
  color: #ffffff;
  padding-right: 10px;
}

.footer__text span {
  color: #ffc600;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.about {
  background-color: #161616;
}

.about__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fff;
}

.about__top {
  padding: 35px 10px;
}

.about__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.about__left {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 48.3333333333%;
          flex: 0 1 48.3333333333%;
  padding-left: 8%;
  padding-right: 15px;
}

.about__title {
  font-size: 30px;
  line-height: 1;
  font-weight: 600;
  color: #717171;
}

.about__title::first-letter {
  font-size: 50px;
}

.about__logo {
  display: inline-block;
  position: relative;
  font-size: 80px;
  line-height: 1;
  font-weight: 600;
  color: #000000;
  margin-top: -10px;
}

.about__logo::first-letter {
  color: #ffc600;
}

.about__logo:after {
  position: absolute;
  content: "";
  bottom: 0;
  right: 0px;
  height: 2px;
  width: 48%;
  background-color: #c5c5c5;
}

.about__right {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 51.6666666667%;
          flex: 0 1 51.6666666667%;
  position: relative;
}

.about__right:before {
  position: absolute;
  content: "";
  top: 10%;
  left: -25px;
  height: 80%;
  width: 2px;
  background-color: #c5c5c5;
}

.about__text-top {
  font-size: 16px;
  line-height: 1.2;
  font-weight: 400;
  color: #000000;
  font-style: italic;
}

.about__text-bottom {
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
  color: #595959;
  padding-top: 20px;
}

.about__bottom {
  padding: 35px 8% 70px;
}

.about__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.about__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 15px;
}

.about__item:last-child {
  padding-right: 0px;
}

.about__item-logo {
  width: 57px;
  height: 57px;
  background-color: #e8e8e8;
  border: 2px solid #ffa800;
  border-radius: 50%;
  text-align: center;
  padding-top: 17px;
}

.about__item-title {
  font-size: 18px;
  line-height: 1.2;
  font-weight: 400;
  color: #000000;
  padding-top: 25px;
}

.about__item-text {
  max-width: 235px;
  text-align: center;
  font-size: 10px;
  line-height: 1.2;
  font-weight: 400;
  color: #000000;
  font-style: italic;
  padding-top: 20px;
}

.about__item-text p {
  padding-top: 15px;
}

.about__item-text p:first-child {
  padding-top: 0px;
}

.projects {
  background-color: #161616;
}

.projects__column {
  background-color: #fff;
}

.projects__title {
  display: inline-block;
  position: relative;
  font-size: 30px;
  line-height: 1.2;
  font-weight: 600;
  font-size: 30px;
  color: #000000;
  margin: 20px 8%;
}

.projects__title:after {
  position: absolute;
  content: "";
  bottom: 0px;
  right: 0;
  height: 2px;
  width: 50%;
  background-color: #717171;
}

.projects__title::first-letter {
  color: #ffc600;
  font-size: 50px;
}

.projects__title span {
  font-size: 50px;
}

.projects__menu {
  padding-bottom: 30px;
}

.projects__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 8% 20px;
}

.projects__menu-item {
  cursor: pointer;
  position: relative;
  font-size: 12px;
  line-height: 1.2;
  font-weight: 600;
  color: #101010;
  margin-right: 15px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.projects__menu-item:hover {
  color: #ffc600;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.projects__menu-item._active {
  margin-right: 30px;
}

.projects__menu-item:hover:after {
  position: absolute;
  content: "";
  bottom: -5px;
  left: 20%;
  height: 2px;
  width: 60%;
  background-color: #000;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.projects__menu-item._active:after {
  position: absolute;
  content: "";
  bottom: -5px;
  left: 20%;
  height: 2px;
  width: 60%;
  background-color: #ffc600;
}

.projects__menu-block {
  padding-top: 30px;
}

.projects__block-items {
  display: none;
}

.projects__block-items._active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.projects__block-item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
}

.projects__block-item a img {
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.projects__block-item a img:hover {
  -webkit-transform: scale(0.97);
      -ms-transform: scale(0.97);
          transform: scale(0.97);
  outline: 3px solid #ffc600;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.process {
  background-color: #161616;
}

.process__column {
  background-color: #fff;
}

.process__top {
  padding: 20px 7.5% 0px;
}

.process__title {
  display: inline-block;
  position: relative;
  font-size: 30px;
  line-height: 1.2;
  font-weight: 600;
  color: #000000;
  text-align: justify;
}

.process__title:after {
  position: absolute;
  content: "";
  bottom: 4px;
  right: 0;
  height: 2px;
  width: 50%;
  background-color: #717171;
}

.process__title::first-letter {
  font-size: 50px;
  color: #ffc600;
}

.process__title span {
  font-size: 50px;
}

.process__text-top {
  font-size: 16px;
  line-height: 1.2;
  font-weight: 400;
  color: #000000;
  font-style: italic;
  padding: 20px 0;
}

.process__text-bottom {
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
  color: #595959;
}

.process__items {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 45px 0px;
}

.process__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.process__item.item-reverse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.process__item-img {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 430px;
          flex: 0 1 430px;
}

.process__item-right {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 430px;
          flex: 0 1 430px;
  padding: 25px 20px 30px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.process__item-title {
  font-size: 30px;
  line-height: 1.2;
  font-weight: 600;
  color: #1d1d1d;
}

.process__item-title::first-letter {
  font-size: 50px;
}

.process__item-title span {
  font-size: 50px;
}

.process__item-subtitle {
  font-size: 16px;
  line-height: 1.2;
  font-weight: 400;
  color: #000000;
  font-style: italic;
  text-align: justify;
  padding: 20px 0 15px;
}

.process__item-text {
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
  color: #595959;
  text-align: justify;
}

.services {
  background-color: #161616;
}

.services__content {
  height: 480px;
  position: relative;
}

.services__background {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.services__background img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 480px;
  text-align: center;
}

.services__title {
  position: absolute;
  top: 5%;
  left: 3.333%;
  font-size: 30px;
  line-height: 1.2;
  font-weight: 600;
  color: #ffffff;
}

.services__title:after {
  position: absolute;
  content: "";
  bottom: 4px;
  right: 0;
  height: 2px;
  width: 53%;
  background-color: #fff;
}

.services__title::first-letter {
  color: #ffc600;
  font-size: 50px;
}

.services__title span {
  font-size: 50px;
}

.services__row {
  height: 480px;
  position: relative;
  z-index: 4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 0 15% 5% 0;
}

.services__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.services__item {
  height: 110px;
  width: 230px;
  margin: 65px 0 0 80px;
}

.services__item-title {
  font-size: 18px;
  line-height: 1.2;
  font-weight: 400;
  color: #ffffff;
}

.services__item-text {
  font-size: 11px;
  line-height: 1.2;
  font-weight: 400;
  color: #ffffff;
  padding-top: 25px;
}

.team {
  background-color: #161616;
}

.team__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #fff;
  padding: 85px 50px 150px 70px;
}

.team__left {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 280px;
          flex: 0 1 280px;
}

.team__title {
  display: inline-block;
  position: relative;
  font-size: 30px;
  line-height: 1.2;
  font-weight: 600;
  color: #000000;
}

.team__title:after {
  position: absolute;
  content: "";
  bottom: 4px;
  right: 0;
  height: 2px;
  width: 53%;
  background-color: #717171;
}

.team__title::first-letter {
  color: #ffc600;
  font-size: 50px;
}

.team__title span {
  font-size: 50px;
}

.team__right {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 800px;
          flex: 0 1 800px;
}

.team__text-top {
  max-width: 630px;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 400;
  color: #000000;
  font-style: italic;
}

.team__text-bottom {
  max-width: 630px;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
  color: #595959;
  padding: 20px 0 35px;
}

.team__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-align: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.team__item {
  padding-right: 10px;
}

.team__item:last-child {
  padding-right: 0px;
}

.team__name {
  font-size: 16px;
  line-height: 1.2;
  font-weight: 600;
  color: #000000;
  padding-top: 15px;
}

.team__position {
  font-size: 16px;
  line-height: 1.2;
  font-weight: 400;
  color: #000000;
  font-style: italic;
}

.testimonials {
  background-color: #161616;
}

.testimonials__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #000;
  padding: 55px 50px 130px;
}

.testimonials__left {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  padding-right: 45px;
}

.testimonials__title {
  position: relative;
  display: inline-block;
  font-size: 30px;
  line-height: 1.2;
  font-weight: 600;
  color: #ffffff;
}

.testimonials__title:after {
  position: absolute;
  content: "";
  bottom: 4px;
  right: 0;
  height: 2px;
  width: 53%;
  background-color: #717171;
}

.testimonials__title::first-letter {
  font-size: 50px;
  color: #ffc600;
}

.testimonials__text-top {
  max-width: 625px;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 400;
  color: #ffffff;
  font-style: italic;
  padding: 65px 0 0 40px;
}

.testimonials__text-bottom {
  max-width: 625px;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
  color: #ffffff;
  padding: 20px 0 0 40px;
}

.testimonials__right {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 350px;
          flex: 0 1 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-top: 50px;
}

.testimonials__photo {
  display: block;
  width: 128px;
  height: 128px;
  border-radius: 50%;
  border: 3px solid #f6a200;
}

.testimonials__name {
  font-size: 16px;
  line-height: 1.2;
  font-weight: 600;
  color: #ffffff;
  padding: 20px 0 0 33px;
}

.testimonials__position {
  font-size: 16px;
  line-height: 1.2;
  font-weight: 400;
  color: #ffffff;
  font-style: italic;
  padding: 0px 0 0 13px;
}

.blogs {
  background-color: #161616;
}

.blogs__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
  background-color: #fff;
  padding: 30px 60px 110px;
}

.blogs__title {
  display: inline-block;
  position: absolute;
  height: 50px;
  font-size: 30px;
  line-height: 1.2;
  font-weight: 600;
  color: #000000;
}

.blogs__title:after {
  position: absolute;
  content: "";
  bottom: -9px;
  right: 0;
  height: 2px;
  width: 95%;
  background-color: #717171;
}

.blogs__title::first-letter {
  font-size: 50px;
  line-height: 1.2;
  font-weight: 600;
  color: #ffc600;
}

.blogs__menu {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 1000px;
          flex: 1 1 1000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-left: 8.5%;
}

.blogs__list {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 265px;
          flex: 0 1 265px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 120px;
}

.blogs__menu-item {
  cursor: pointer;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 400;
  color: #000000;
  -webkit-transition: color 0.6s ease 0s;
  -o-transition: color 0.6s ease 0s;
  transition: color 0.6s ease 0s;
  padding-bottom: 25px;
}

.blogs__menu-item:last-child {
  padding-bottom: 0px;
}

.blogs__menu-item:hover {
  color: #ffc600;
  text-decoration: underline;
  -webkit-transition: color 0.6s ease 0s;
  -o-transition: color 0.6s ease 0s;
  transition: color 0.6s ease 0s;
}

.blogs__menu-block {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 735px;
          flex: 0 1 735px;
}

.blogs__block-items._active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.blogs__block-items {
  display: none;
}

.blogs__block-item {
  max-width: 200px;
  padding-right: 10px;
}

.blogs__block-item:last-child {
  padding-right: 0px;
}

.blogs__item-photo {
  text-align: center;
}

.blogs__item-photo img {
  text-align: center;
  border: 3px solid #fff;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.blogs__item-photo img:hover {
  -webkit-transform: scale(0.95);
      -ms-transform: scale(0.95);
          transform: scale(0.95);
  border: 3px solid #ffc600;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.blogs__item-date {
  font-size: 18px;
  line-height: 1.2;
  font-weight: 400;
  color: #ffc600;
  padding-top: 10px;
}

.blogs__item-title {
  padding: 25px 0 15px;
}

.blogs__item-title a {
  font-size: 15px;
  line-height: 1.2;
  font-weight: 700;
  color: #000000;
  -webkit-transition: color 0.6s ease 0s;
  -o-transition: color 0.6s ease 0s;
  transition: color 0.6s ease 0s;
}

.blogs__item-title a:hover {
  text-decoration: underline;
  color: #ffc600;
  -webkit-transition: color 0.6s ease 0s;
  -o-transition: color 0.6s ease 0s;
  transition: color 0.6s ease 0s;
}

.blogs__item-text {
  font-size: 12px;
  line-height: 1.2;
  font-weight: 700;
  color: #000000;
  font-style: italic;
}

.contacts {
  background-color: #161616;
}

.contacts__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #2046b3;
}

.contacts__left {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 500px;
          flex: 0 1 500px;
  position: relative;
}

.contacts__map {
  width: 100%;
  height: 100%;
}

.contacts__logo {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 57px;
  height: 57px;
  background-color: #000;
  border: 2px solid #f6a200;
  border-radius: 50%;
  text-align: center;
  font-size: 14.4px;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: -0.05em;
  color: #ffffff;
  padding-top: 17px;
}

.contacts__logo::first-letter {
  color: #ffc600;
}

.contacts__right {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 410px;
          flex: 0 0 410px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 45px 0px 45px 6%;
  padding-right: 10px;
}

.contacts__right-right {
  -webkit-box-flex: 0;
      -ms-flex: 0 5 290px;
          flex: 0 5 290px;
}

.contacts__title {
  display: inline-block;
  position: relative;
  max-width: 175px;
  font-size: 30px;
  line-height: 1.2;
  font-weight: 600;
  color: #ffffff;
}

.contacts__title:after {
  position: absolute;
  content: "";
  bottom: 4px;
  right: 0;
  height: 2px;
  width: 90%;
  background-color: #ffffff;
}

.contacts__title::first-letter {
  color: #ffc600;
  font-size: 50px;
}

.contacts__title span {
  font-size: 50px;
}

.contacts__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-bottom: 60px;
}

.contacts__name {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
  height: 35px;
  border: 2px solid #c5c5c5;
  background-color: #2046b3;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 600;
  color: #ffffff;
  margin: 10px 0 20px;
}

.contacts__telephone {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 39%;
          flex: 0 0 39%;
  height: 35px;
  border: 2px solid #c5c5c5;
  background-color: #2046b3;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 600;
  color: #ffffff;
}

.contacts__email {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 51%;
          flex: 0 0 51%;
  height: 35px;
  border: 2px solid #c5c5c5;
  background-color: #2046b3;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 600;
  color: #ffffff;
  margin-left: auto;
}

.contacts__textarea {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
  height: 76px;
  border: 2px solid #c5c5c5;
  background-color: #2046b3;
  resize: vertical;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 600;
  color: #ffffff;
  margin: 20px 0 20px;
}

.contacts__button {
  width: 108px;
  height: 33px;
  background-color: #ffc600;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 600;
  color: #000000;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.contacts__button:hover {
  background-color: #000;
  color: #ffc600;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.contacts__contact {
  font-size: 16px;
  line-height: 1.2;
  font-weight: 600;
  color: #ffffff;
}

.contacts__location {
  font-size: 16px;
  line-height: 1.2;
  font-weight: 600;
  color: #ffffff;
}

.contacts__adress {
  font-size: 16px;
  line-height: 1.2;
  font-weight: 600;
  color: #ffffff;
  padding: 30px 0 20px;
}

.contacts__adress span {
  font-size: 12px;
  line-height: 1.2;
  font-weight: 400;
  color: #ffffff;
  padding-left: 25px;
}

.contacts__phone {
  font-size: 16px;
  line-height: 1.2;
  font-weight: 600;
  color: #ffffff;
}

.contacts__phone a {
  font-size: 12px;
  line-height: 1.2;
  font-weight: 400;
  color: #ffffff;
  padding-left: 36px;
  -webkit-transition: all 0.6s ease 0s;
  -o-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
}

.contacts__phone a:hover {
  color: #ffc600;
  text-decoration: underline;
  -webkit-transition: all 0.6s ease 0s;
  -o-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
}

.contacts__mail {
  font-size: 16px;
  line-height: 1.2;
  font-weight: 600;
  color: #ffffff;
  padding-top: 10px;
}

.contacts__mail a {
  font-size: 12px;
  line-height: 1.2;
  font-weight: 400;
  color: #ffffff;
  padding-left: 43px;
  -webkit-transition: all 0.6s ease 0s;
  -o-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
}

.contacts__mail a:hover {
  color: #ffc600;
  text-decoration: underline;
  -webkit-transition: all 0.6s ease 0s;
  -o-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
}

.contacts__social {
  position: relative;
  margin-top: 75px;
}

.contacts__social a img {
  -webkit-transition: all 0.6s ease 0s;
  -o-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
}

.contacts__social a img:hover {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: all 0.6s ease 0s;
  -o-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
}

.contacts__social:before {
  position: absolute;
  content: "";
  top: -15px;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: #fff;
}

@media (min-width: 991.98px) {
  .quantity__button:hover::before,
  .quantity__button:hover::after {
    background-color: rgba(0, 0, 0, 0.5);
  }
}

@media (min-width: 992px) {
  .select__option:hover {
    background: #d9d9d9;
  }

  .checkbox a:hover {
    text-decoration: none;
  }
}

@media (max-width: 1220px) {
  .projects__block-item {
    padding-bottom: 15px;
  }
}

@media (max-width: 1140px) {
  .header__image img {
    height: 100%;
    width: 100%;
  }
}

@media (max-width: 1100px) {
  .team__items {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }

  .team__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    padding-top: 20px;
  }

  .team__row {
    padding: 65px 50px 80px 30px;
  }
}

@media (max-width: 1000px) {
  .blogs__menu {
    padding-left: 0px;
  }

  .blogs__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    position: relative;
    background-color: #fff;
    padding: 30px 40px 60px;
  }
}

@media (max-width: 991.98px) {
  .select__title {
    font-size: 18px;
  }

  .select__options {
    font-size: 18px;
  }
}

@media (max-width: 890px) {
  .about__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .about__right {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
  }

  .about__left {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    padding-left: 6%;
    padding-right: 10px;
  }

  .about__right {
    padding-top: 20px;
  }

  .about__bottom {
    padding: 25px 5% 50px;
  }
}

@media (max-width: 850px) {
  .contacts__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .contacts__left {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
  }

  .contacts__map {
    height: 400px;
  }

  .contacts__right {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
  }

  .contacts__right-right {
    display: none;
  }
}

@media (max-width: 840px) {
  .footer__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .footer__left {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 325px;
            flex: 0 0 325px;
    background-color: #000;
    padding: 50px 0 35px 17%;
  }

  .footer__menu li a {
    font-size: 22px;
  }

  .footer__image img {
    height: 100%;
    width: 100%;
    -o-object-fit: fill;
       object-fit: fill;
  }

  .footer__right {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
  }

  .footer__text {
    bottom: 50px;
    font-size: 60px;
    line-height: 60px;
  }

  .blogs__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    position: relative;
    background-color: #fff;
    padding: 30px 40px 60px;
  }

  .blogs__menu {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .blogs__menu-item {
    padding: 15px 10px 0 0;
  }

  .blogs__list {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    padding: 70px 10px 10px;
  }

  .blogs__menu-block {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
  }
}

@media (max-width: 792px) {
  .header__column {
    padding-top: 40px;
  }

  .header__title {
    font-size: 80px;
    margin-bottom: 20px;
  }

  .header__subtitle a {
    font-size: 16px;
    margin: 30px 0 30px;
  }

  .header__block-title {
    max-width: 320px;
    font-size: 40px;
  }

  .header__menu li {
    background-color: rgba(0, 0, 0, 0.9);
    padding: 1.5%;
  }

  .header__menu li:first-child {
    border-radius: 10px 0 0 10px;
  }

  .header__menu li:last-child {
    border-radius: 0 10px 10px 0;
  }

  .header__image img {
    height: 100%;
    width: 100%;
  }

  .header__block {
    height: 500px;
  }
}

@media (max-width: 768px) {
  .about__items {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .about__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 15px;
  }

  .about__bottom {
    padding: 25px 3% 40px;
  }

  .services__row {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 5%;
  }

  .services__item {
    height: 110px;
    width: 230px;
    margin: 25px 0 0 20px;
  }
}

@media (max-width: 750px) {
  .process__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .process__item.item-reverse {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .process__item-img {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    text-align: center;
  }

  .process__item-right {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
  }

  .team__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    padding-top: 20px;
  }

  .team__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 30px 15px;
  }

  .team__left {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
  }

  .team__right {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
  }

  .team__text-top {
    padding-top: 15px;
  }
}

@media (max-width: 650px) {
  .footer__text {
    max-width: 770px;
    bottom: 40px;
    left: 25px;
    font-size: 50px;
    line-height: 50px;
  }

  .blogs__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    position: relative;
    background-color: #fff;
    padding: 30px 40px 60px;
  }

  .blogs__block-items._active {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .blogs__block-item {
    padding-top: 15px;
  }
}

@media (max-width: 580px) {
  .services__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 90px 0 10px;
  }

  .services__item {
    height: auto;
    width: 300px;
    padding: 10 5px 0 5px;
  }

  .services__item-text {
    padding-top: 10px;
  }

  .services__title {
    top: 5%;
    left: 5%;
  }

  .services__content {
    height: 560px;
  }

  .services__background img {
    height: 560px;
  }

  .testimonials__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 30px;
  }

  .testimonials__right {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    padding: 30px;
  }

  .testimonials__left {
    padding-right: 0;
  }

  .testimonials__text-top {
    padding: 35px 0 0 0px;
  }

  .testimonials__text-bottom {
    padding: 20px 0 0 0px;
  }
}

@media (max-width: 560px) {
  .about__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }

  .about__bottom {
    padding: 0px 3% 40px;
  }

  .about__item-text {
    max-width: 300px;
  }

  .about__left {
    padding-left: 20px;
    padding-right: 15px;
  }

  .about__logo {
    font-size: 56px;
  }
}

@media (max-width: 500px) {
  .projects__menu-item {
    font-size: 9px;
    margin-right: 10px;
    padding-top: 10px;
  }

  .projects__menu-item._active {
    margin-right: 10px;
  }

  .projects__menu-item:last-child._active {
    margin-right: 0px;
  }

  .projects__list {
    margin: 20px 10px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 470px) {
  .process__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .process__item.item-reverse {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .process__item-img {
    width: 100%;
    height: 100%;
  }

  .process__item-img img {
    width: 300px;
    height: auto;
  }

  .process__item-right {
    padding: 15px;
  }

  .process__items {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 35px 0px 25px;
  }
}

@media (max-width: 461px) {
  .header__block {
    height: 400px;
  }
}

@media (max-width: 425px) {
  .contacts__telephone {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }

  .contacts__email {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    margin-top: 20px;
  }
}